{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="Demo">
<head>
      <base href="/">
    <title>Web site using Angular js</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <script src="{% static 'js/angular.js' %}"></script>
    <script src="{% static 'js/angular-route.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <!--{% static 'css/main.css' %}?b={{BPC}}-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.min.js"></script>-->
</head>

<body>
 <table style="font-family: Arial">
    <tr>
        <td colspan="2" class="header">
            <h1>
                WebSite Header
            </h1>
        </td>
    </tr>
    <tr>
        <td class="leftMenu">
            <a href="home">Home</a>
            <a href="courses">Courses</a>
            <a href="students">Students</a>
        </td>
        <td class="mainContent">
            <ng-view></ng-view>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="footer">
            <b>Website Footer</b>
        </td>
    </tr>
</table>
</body>
</html>
